<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="Images/ghost_ico.ico">

        <title>Slack-app</title>

        <!--New fonts of google-->
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro|Montserrat:40i0,700' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="css/libs/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/styles.css" rel="stylesheet">

        <!--Firebase library-->
        <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

        <script src="js/libs/jquery-2.1.1.js"></script>

        <script type="text/javascript" src="js/script.js"></script>

        <!--Core Angular JS -->
        <script src="js/libs/angular.min.js"></script>
        <script src="js/libs/angular-route.js"></script>
        <script src="js/script.js" type="text/javascript"></script>
        <script src="js/modules/app.js"></script>

    </head>

    <body>
            HOla que hace
    </body>
</html>